<nav role="navigation" aria-label="Main nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a routerLink="/" class="nav__link link">
        {{ "Equipments" }}
      </a>
    </li>
    <li class="nav__separator" aria-hidden="true">{{ "•" }}</li>
    <li class="nav__item">
      <a routerLink="/section" class="nav__link link">
        {{ "World" }}
      </a>
    </li>
    <li class="nav__separator" aria-hidden="true">{{ "•" }}</li>
    <li class="nav__item">
      <a routerLink="/page" class="nav__link link">
        {{ "Crafting list" }}
      </a>
    </li>
  </ul>
</nav>
