.filter:hover {
  opacity: var(--opacity-hover);
  outline: var(--outline-small);
  outline-offset: var(--outline-offset);
}

.filter--selected {
  background-color: var(--bulma-grey);
  outline: var(--outline-small);
  outline-offset: var(--outline-offset);
  outline-color: var(--bulma-grey);
}
