.card.is-clickable:hover {
  cursor: pointer;
  opacity: var(--opacity-hover);
  outline: var(--outline-small);
  outline-offset: var(--outline-offset);
}

.card-header {
  justify-content: center;
  background-color: var(--bulma-black);
}

.card-header-title {
  color: var(--bulma-white);
}

.card-content {
  overflow: hidden;
  padding: 0;
}
