<div #cardItem [routerLink]="item.routerLink" class="card is-hoverable">
  <!-- Card header block -->
  <header class="card-header is-size-6">
    <p class="card-header-title">
      {{ header.headline }}
    </p>
    @if (header.icon) {
    <img
      [src]="header.icon"
      [alt]="header.headline"
      loading="lazy"
      class="card-header-icon is-16x16"
    />
    }
  </header>

  <!-- Card body block -->
  <div class="card-content">
    <div class="content">
      <figure class="image is-1by1">
        <img [src]="body.image" [alt]="header.headline" loading="lazy" />
      </figure>
    </div>
  </div>

  <!-- Card footer block -->
  @if (footer.isDisplayed) {
  <footer class="card-footer">
    @if (footer.link) {
    <a [routerLink]="footer.link" class="card-footer-item">{{ footer.link }}</a>
    }
  </footer>
  }
</div>
