.equipment-content,
.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--size-xl);
  height: var(--size-content-height);
  width: 100%;
}

.filters {
  align-items: center;
  flex-direction: row;
  gap: var(--size-large);
  height: var(--size-xl);
}

.categories.grid {
  height: 100%;
}
