<div class="equipment-content">
  <div class="filters">
    @for (filter of filters; track $index) {
    <app-filter [filter]="filter" />
    }
  </div>

  <!-- Item categories for either Weapons, Armors or Charms -->
  @if (selectedFilter.value.toString().equals(EquipmentType.Armors) ) {
  <app-item-categories
    [filter]="selectedFilter.value.toString()"
    [categories]="armorCategories"
    class="container is-fluid p-0"
  />
  } @else {
  <app-item-categories
    [categories]="weaponCategories"
    class="container is-fluid p-0"
  />
  }
</div>
