.breadcrumb {
  margin-bottom: var(--size-fixed-xl);
}

.breadcrumb__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-large);
  width: 100%;
  height: var(--size-fixed-xxl);
}

.breadcrumb__separator::marker,
.breadcrumb__item::marker,
.breadcrumb__item--current::marker {
  content: "";
}

.breadcrumb__separator {
  width: 0px;
  font-weight: var(--weight-light);
  font-size: var(--font-size-small);
}
