<nav aria-label="Breadcrumb" class="breadcrumb">
  <ol class="breadcrumb__list">
    @for (item of breadcrumbItems; track $index) {
    <!-- All navigation item -->
    @if($index < breadcrumbItems.length - 1) {
    <li class="breadcrumb__item">
      <a [routerLink]="item.url" class="breadcrumb__link link">
        {{ item.name }}
      </a>
    </li>
    } @else {
    <!-- Current page -->
    <li class="breadcrumb__item">
      <p class="breadcrumb__item--current">
        {{ item.name }}
      </p>
    </li>
    }

    <!-- All separators -->
    @if($index < breadcrumbItems.length - 1) {
    <li class="breadcrumb__separator" aria-hidden="true">
      {{ "|" }}
    </li>
    } }
  </ol>
</nav>
