@if (isDisplayed) {
<nav
  class="breadcrumb is-small container is-fluid mb-5"
  aria-label="breadcrumbs"
>
  <ul>
    @for (item of breadcrumbItems; track $index) {
    <!-- All navigation item -->
    @if($index < breadcrumbItems.length - 1) {
    <li>
      <a [routerLink]="item.url">
        {{ item.name | uppercase }}
      </a>
    </li>
    } @else {
    <!-- Current page -->
    <li class="is-active">
      <a
        href="#"
        class="has-text-dark has-text-weight-bold"
        aria-current="page"
      >
        {{ item.name | uppercase }}
      </a>
    </li>
    } }
  </ul>
</nav>
}
