<div #cardItem [routerLink]="item.routerLink" class="card">
  <!-- Card header block -->
  <header class="card-header is-size-6">
    <h4 aria-label="Card title" class="card-header-title is-centered">
      {{ header.headline }}
    </h4>
  </header>

  <!-- Card body block -->
  <div class="card-content">
    <div class="content">
      <figure class="image is-2by1">
        <img [src]="body.image" [alt]="header.headline" loading="lazy" />
      </figure>
    </div>
  </div>

  <!-- Card footer block -->
  @if ( footer.isDisplayed) {
  <footer class="card-footer is-flex-direction-column">
    <!-- 
        Weapon info block, regroups : 
        - Category
        - Rarity
        - Defense
        - Decorations
    -->
    <div class="weapon-info is-flex-direction-column">
      <div class="is-flex is-justify-content-space-between">
        <!-- Weapon category -->
        <p class="is-size-5">
          {{ weapon.category.metadata.abbreviation }}
        </p>

        <!-- Weapon rarity -->
        <p class="is-size-7">{{ "Rarity 12" }}</p>
      </div>

      <!-- Weapon decorations -->
      <div class="is-flex is-align-items-center is-justify-content-end">
        <img
          src="/assets/icons/weapons/great-sword/great-sword-48.svg"
          alt=""
          class="image is-16x16"
        />
        <img
          src="/assets/icons/weapons/great-sword/great-sword-48.svg"
          alt=""
          class="image is-16x16"
        />
        <img
          src="/assets/icons/weapons/great-sword/great-sword-48.svg"
          alt=""
          class="image is-16x16"
        />
      </div>
    </div>

    <!-- 
        Weapon stats block, regroups : 
        - Sharpness
        - Raw damage
        - Elemental damage
        - Elderseal (can be equal to 0)
        - Affinity
    -->
    <div class="weapon-stats">
      <!-- Weapon sharpness value -->
      <div class="is-flex is-align-items-center">
        <img
          src="/assets/icons/weapons/great-sword/great-sword-48.svg"
          alt=""
          class="image is-16x16"
        />
        <progress class="progress is-small" max="100" value="70"></progress>
      </div>

      <!-- Weapon damages block -->
      <div class="is-flex is-justify-content-space-between">
        <!-- Weapon damages - RAW value -->
        <div class="is-flex is-align-items-center">
          <img
            src="/assets/icons/weapons/great-sword/great-sword-48.svg"
            alt=""
            class="image is-16x16"
          />
          <p class="w-100">{{ weapon.stats.rawDamage.value }}</p>
        </div>

        <!-- Weapon damages - ELEMENTAL value -->
        <div class="is-flex is-align-items-center">
          <img
            src="/assets/icons/weapons/great-sword/great-sword-48.svg"
            alt=""
            class="image is-16x16"
          />
          <p>{{ weapon.stats.elementalDamage.value }}</p>
        </div>
      </div>

      <!-- Weapon elderseal and affinity block -->
      <div class="is-flex is-justify-content-space-between">
        <!-- Weapon elderseal value  -->
        <div class="is-flex is-align-items-center">
          <img
            src="/assets/icons/weapons/great-sword/great-sword-48.svg"
            alt=""
            class="image is-16x16"
          />
          <p class="w-100">{{ weapon.stats.elderseal.value }}</p>
        </div>

        <!-- Weapon affinity value  -->
        <div class="is-flex is-align-items-center">
          <img
            src="/assets/icons/weapons/great-sword/great-sword-48.svg"
            alt=""
            class="image is-16x16"
          />
          <p>{{ weapon.stats.affinity.value }}</p>
        </div>
      </div>
    </div>
  </footer>
  }
</div>
