.weapon-info,
.weapon-stats {
  display: flex;
  flex-direction: column;
  gap: var(--size-medium);
  padding: var(--size-medium);
}

.weapon-stats {
  padding: var(--size-small);
}

.weapon-info {
  flex: 0.4;
  background-color: var(--bulma-black);
  color: var(--bulma-white);
}
.weapon-stats {
  flex: 0.6;
}
