.weapon-details {
  justify-content: flex-start;
  background-color: var(--black-faint);
  height: var(--size-content-height);
}

.weapon-image {
  width: var(--size-3gs);
  height: 100%;
}

.weapon-info {
  flex-direction: column;
}

.weapon-info__header {
  justify-content: space-between;
  align-items: center;
  min-height: fit-content;
}

.header__weapon-name-rarity {
  align-items: flex-start;
}

.body__weapon-description {
  flex: 1;
}

.weapon-info__footer {
  height: var(--size-1gs);
}
