@import "bulma/css/bulma.css";

@font-face {
  font-family: "Atkinson";
  src: url("/assets/fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-VariableFont_wght.ttf")
    format("opentype");
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf")
    format("opentype");
}

@font-face {
  font-family: "Roboto-Slab";
  src: url("/assets/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf")
    format("opentype");
}

:root {
  --bulma-body-family: var(--font-main);
  /* font-family: var(--font-main); */

  /* Color palette */
  /* ------ Whites */
  --bulma-white: rgba(248, 248, 248, 1);

  /* ------ Blacks */
  --bulma-black-h: 0;
  --bulma-black-s: 0%;
  --bulma-black-l: 15%;

  /* ------ Primary */
  --bulma-primary-h: 28;
  --bulma-primary-s: 100%;
  --bulma-primary-l: 53%;

  /* ------ Success */
  --bulma-success-h: 145;
  --bulma-success-s: 32%;
  --bulma-success-l: 52%;

  /* ------ Danger */
  --bulma-danger-h: 348;
  --bulma-danger-s: 85%;
  --bulma-danger-l: 54%;

  /* ------ Link */
  --bulma-link-h: 207;
  --bulma-link-s: 88%;
  --bulma-link-l: 27%;

  /* Size palette */
  /* ------ ^2 */
  --size-xs: 0.063rem; /* 1px */
  --size-tiny: 0.125rem; /* 2px */
  --size-small: 0.25rem; /* 4px */
  --size-medium: 0.5rem; /* 8px */
  --size-large: 1rem; /* 16px */
  --size-xl: 2rem; /* 32px */
  --size-xxl: 4rem; /* 64px */
  --size-huge: 8rem; /* 128px */
  --size-gigantic: 16rem; /* 256px */
  --size-colossal: 32rem; /* 512px */

  --size-fixed-xs: 1px;
  --size-fixed-tiny: 2px;
  --size-fixed-small: 4px;
  --size-fixed-medium: 8px;
  --size-fixed-large: 16px;
  --size-fixed-xl: 32px;
  --size-fixed-xxl: 64px;
  --size-fixed-huge: 128px;
  --size-fixed-gigantic: 256px;
  --size-fixed-colossal: 512px;

  /* ------ Grid */
  --size-1gs: 7.5rem; /* 120px */
  --size-2gs: 17rem; /* 272px */
  --size-3gs: 26.5rem; /* 424px */
  --size-4gs: 36rem; /* 576px */
  --size-5gs: 41.5rem; /* 664px */
  --size-6gs: 45.5rem; /* 728px */
  --size-7gs: 55rem; /* 880px */

  /* ------ Specific */
  --size-icon: 1.5rem; /* 24px */
  --size-search-bar: 3rem; /* 48px */
  --size-list-item: 5rem; /* 80px */
  --size-weapon-card: 18.75rem; /* 320px */
  --size-content-height: calc(100dvh - var(--size-fixed-gigantic));

  /* Font families */
  --font-main: "Atkinson", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-main-alt: "Roboto-Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-link: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  /* Font sizes */
  --font-size-title: var(--size-xl); /* 32px */
  --font-size-subtitle: 1.125rem; /* 18px */
  --font-size-main: var(--size-large /* 16px */);
  --font-size-link: 0.875rem; /* 14px */
  --font-size-small: 0.75rem; /* 12px */
  --font-size-tiny: 0.5rem; /* 8px */

  /* Border related */
  --border-radius: var(--size-small);
  --border-width: var(--size-xs);
  --border-main: solid var(--border-width) var(--bulma-black);

  /* Outline related */
  --outline-tiny: solid var(--size-tiny) var(--bulma-black);
  --outline-small: solid var(--size-small) var(--bulma-black);
  --outline-offset: var(--size-xs);

  /* Opacity palette */
  --opacity-opaque: 1;
  --opacity-high: 0.8;
  --opacity-medium: 0.5;
  --opacity-low: 0.35;
  --opacity-faint: 0.15;
  --opacity-transparent: 0;
  --opacity-hover: 0.65;
}

* {
  min-height: 1px;
}
