@if (isUserConnected) {
<div class="user-menu" role="navigation" aria-label="User menu">
  <!-- <img src="profile.jpg" alt="User avatar" class="user-avatar" /> -->
  <div class="user-menu__info">
    <a [routerLink]="userProfileRoute.path" class="user-menu__name">
      {{ userName }}
    </a>
    <a [routerLink]="logoutRoute.path" class="link" aria-label="Log in">
      {{ logoutRoute.title | uppercase }}
    </a>
  </div>
</div>
} @else {
<div class="auth-menu" role="navigation" aria-label="Auth menu">
  <a [routerLink]="loginRoute.path" class="link" aria-label="Log in">
    {{ loginRoute.title | uppercase }}
  </a>
  <a
    [routerLink]="signupRoute.path"
    class="btn btn-primary"
    aria-label="Sign up"
  >
    {{ signupRoute.title | uppercase }}
  </a>
</div>
}
