.user-menu,
.auth-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--size-xl);
  width: var(--size-2gs);
}

.user-menu__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-small);
}

.user-menu__name {
  text-align: right;
  width: 100%;
}
