.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black-faint);
  height: 100%;
  width: 100%;
  user-select: none;
  border: var(--border-main);
  border-radius: var(--border-radius);
}

.card--clickable:hover {
  cursor: pointer;
  opacity: var(--opacity-hover);
  outline: var(--outline-small);
  outline-offset: var(--outline-offset);
}

.card-header {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-faint);
  color: var(--white);
  height: var(--size-xxl);
  width: 100%;
}

.card-body {
  background-color: var(--black-faint);
  color: var(--white);
  height: 100%;
  overflow: hidden;
}

.card-footer {
  height: var(--size-huge);
  width: 100%;
  background-color: var(--black-faint);
}
