.btn {
  font-weight: normal;
  letter-spacing: var(--size-xs);
  border: solid;
  border: var(--border-main);
  border-radius: var(--size-small);
  background: none;
  padding: var(--size-medium) var(--size-large);
}

.btn:hover:not(:disabled) {
  cursor: pointer;
}

.btn:disabled {
  user-select: none;
  color: var(--grey-opaque);
  background-color: var(--grey-medium);
}

.btn-primary {
  font-weight: bold;
  border-color: var(--black-opaque);
}

.btn-primary:hover:not(:disabled) {
  color: var(--primary-opaque);
  border-color: var(--primary-opaque);
}
